/* COLORS */
$primary-color: #707070;

/* SPACING */
$space-xs: 4px;
$space-sm: 8px;
$space-md: 12px;
$space-lg: 16px;
$space-xl: 24px;
$space-xxl: 48px;

/* FONTS */
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;
