@import './variables';

.about__container {
  display: flex;
  margin-bottom: $space-2xl;

  .about__image-container {
    display: flex;
    flex: 0 0 50%;
    min-height: 340px;
    .about__image {
      object-fit: cover;
      max-width: 32vw;
      // padding: $space-md;
    }
  }
}

.about__text-section {
  justify-content: center;
  padding-left: $space-2xl;
  display: flex;
  align-items: flex-end;

  h1 {
    text-align: center;
    text-transform: uppercase;
  }

  p {
    text-align: justify;
    // padding: $space-lg 0 $space-xl;
    // padding: 0 0 $space-xl;
    margin-block-end: 0;
    // font-size: $font-md;
  }
}


@media screen and (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max) {
  .about__container {
    padding-top: $space-xl;
    margin-bottom: $space-2xl;
    flex-direction: column;

    .about__image-container {
      justify-content: center;
      padding-bottom: $space-xl;
      min-height: unset;
      .about__image {
        // max-width: unset;
        // max-height: 50vh;
        max-width: 100%;
      }
    }
  }

  .about__text-section {
    padding: 0 $space-xxl;
    h1 {
      padding-top: $space-lg;
    }
  }

}

@media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
  .about__container {
    padding-top: $space-xxl;
    flex-direction: column;

    .about__image-container {
      justify-content: center;
      padding-bottom: $space-xl;
      
      .about__image {
        max-width: 100%;
      }
    }

    .about__text-section {
      padding: 0 $space-xxl;
      h1 {
        padding-top: $space-lg;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-small-min) and (max-width: $breakpoint-small-max) {
  .about__container {
    flex-direction: column;

    .about__image-container {
      justify-content: center;
      min-height: unset;
      .about__image {
        max-width: unset;
        max-height: 50vh;
      }
    }

    .about__text-section {
      padding: 0;
      h1 {
        padding-top: $space-lg;
      }

      p {
        padding-top: $space-lg;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-desktop-min) and (max-width: $breakpoint-desktop-max) {

}