@import './variables';

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
  padding: 18px 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  // box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  a {
    text-decoration: none;
    color: #707070;
    padding: 0 $space-md;
    font-size: $font-sm;
  }
}



@media screen and (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max) {
  .footer-container {
    flex-direction: column;
    align-items: center;

    a {
      padding: $space-xs 0;
    }
  }

}

@media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {

}

@media screen and (min-width: $breakpoint-small-min) and (max-width: $breakpoint-small-max) {

}

@media screen and (min-width: $breakpoint-desktop-min) and (max-width: $breakpoint-desktop-max) {

}