@import './variables';

.gallery__grid {
  display: grid;
  align-items: center;
  grid-column-gap: $space-xl;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: self-start;
  margin-bottom: $space-xxl;

  .gallery__card {
    .gallery__card-link {
      text-decoration: none;

      .gallery__card-project-cover {
        object-fit: cover;

        .gallery__image {
          width: 100%;
          max-height: 190px;
          min-height: 190px;
          object-fit: cover;
        }
      }

      .gallery__card-project-name {
        padding: $space-sm 0 $space-lg;
        span {
          font-size: $font-sm;
          text-transform: uppercase;
        }
      }
    }
  }
}


@media screen and (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max) {
  .gallery__grid {
    margin-bottom: $space-2xl;
  }
}

@media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {

}

@media screen and (min-width: $breakpoint-small-min) and (max-width: $breakpoint-small-max) {

}

@media screen and (min-width: $breakpoint-desktop-min) and (max-width: $breakpoint-desktop-max) {

}