@import "./variables.scss";

@font-face {
  font-family: "MuseoSans";
  src: url("../../public/fonts/Museo-Sans/MuseoSans-100.otf");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "MuseoSansSemibold";
  src: url("../../public/fonts/Museo-Sans/MuseoSans-300.otf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}


html * {
  font-family: "MuseoSans";
  color: $primary-color;
  font-size: $font-md;

  // /* hide scrollbar */
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  // -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;  /* Firefox */
}

body {
  margin: 0;
  padding: 0 15vw;
}

body.SRLOpened {
  margin-right: unset !important;
  overflow: unset !important;
}

.primary-button {
  font-size: $font-sm;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 4px;
  padding: $space-sm $space-xl;
  transition: all .3s ease;

  &:hover {
    background-color: $primary-color;
    color: white;
    cursor: pointer;
  }
}

@media screen and (min-width: $breakpoint-mobile-min) and (max-width: $breakpoint-mobile-max) {
  html * {
    font-size: $font-md;
  }

  body {
    padding: 0 5vw;
  }
}

@media screen and (min-width: $breakpoint-tablet-min) and (max-width: $breakpoint-tablet-max) {
  body {
    padding: 0 10vw;
  }
}

@media screen and (min-width: $breakpoint-small-min) and (max-width: $breakpoint-small-max) {
  body {
    padding: 0 15vw;
  }
}

@media screen and (min-width: $breakpoint-desktop-min) and (max-width: $breakpoint-desktop-max) {
  body {
    padding: 0 15vw;
  }
}

