@import "./variables.scss";

.navbar-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: $space-xl 0;
  margin-bottom: 72px;

  .navbar-left {
    display: flex;
    color: $primary-color;

  .navbar-phrases {
    margin: 0 0 $space-sm $space-lg ;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
  }    
  }

  .navbar-right {
    a.navbar-link {
      text-decoration: none;
      color: $primary-color;
      margin-left: $space-md;
    }
  }
}